body {
    font-family: "Arvo", serif;
    background-color: lightgrey;
    padding: 20px;
}
.module#page-content {
    align: center;
    background: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 9px !important;
    box-shadow: 0 5px 5px #333333; 
}

.header {
    padding: 20px;
    font-size: 40px;
    text-align: center;
}
#self-header {
    background-color: lightblue;
    border-radius: 9px 9px 0px 0px;	
}
#exp-header {
    background-color: lightgreen;
}
.content {
    padding: 20px;
}