.headerMain{
  color:#00004d;
}

.header{
  border-top-style:solid;
  border-right-style:solid;
  border-left-style:solid;
  border-bottom-style:dotted;
}

body{
  text-align:center;
}

html{
  background:#cccfff;
  /* #66ff66 for an extreme */
}
