
.content{

    padding: 30px


}

.my-heading{
    color: black;
    text-align: center;
    padding: 100px 0px 0px 0px

    
}

.text-content{
    color: black;
    text-align: center;
}

.icons-group{
    text-align: center;
    padding: 0px 0px 100px 0px
}

/* .text-focused{
    
}

.courses-list{


}

.course-focused{

}

.technologies-list{

} */

