body{
  background:#FFFFFF;
}

h1 {
  color:#76323F;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  line-height: 46px;
  font-size: 40px;
  margin: 0 0 5px 0;
}

h2 {
  color:#76323F;
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  margin: 0 0 10px 0;
}

p {
  color:#565656;
  background: #D7CEC7;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 23px;
  margin: 10px 0 10px 0;
  padding: 1.5%;
  border-radius: 0%;
}

a {
  color:#565656;
}

nav ul li {
  color:#565656;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  display: inline-block;
  list-style-type: none;
  margin: 0 0 10px 0;
  padding: 0px 15px 5px 15px;
}
nav ul li a{
  color:#565656;
  text-decoration: none;
  font-weight: bold;
}

project ul li{
  color:#565656;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  list-style-type: square;
  margin: 0 0 10px 0;
  padding: 0px 15px 5px 15px;
}

footer{
  color:#565656;
  clear:both;
  margin: 25px 0 0 0;
}

.round{
  border-radius: 5%;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
}

.centertext{
  display: block;
}

.about{
  color:#565656;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  line-height: 46px;
  font-size: 18px;
  margin: 0 0 5px 0;
  vertical-align: middle;
}

blockquote {
  color: #76323F;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: italic;
  background: #D7CEC7;
  border-left: 10px solid #76323F;
  margin: 10px 23% 0px 23%;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #76323F;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
